#info {
	height: 380px;
}

#info .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

#info .wrapper::before {
	content: url("../../assets/Group7_red.png");
	left: -24px;
	top: -24px;
	position: absolute;
}

.info-h2::after {
	content: "";
}

.info-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.info-icon p {
	font-family: "Alegreya";
	margin: 0;
	font-size: 30px;
}

.info-icon h2 {
	margin: 0;
}

/* Tablet Version */
@media (max-width: 1024px) {
	#info h2 {
		font-size: 32px;
	}

	.info-icon p {
		font-size: 24px;
	}

	#info .wrapper::before {
		left: 24px;
	}

	#info .wrapper {
		justify-content: space-between;
		padding: 0 70px;
	}
}

/* Smartphone Version */
@media (max-width: 720px) {
	#info .wrapper {
		flex-direction: column;
		gap: 80px;
		padding: 0px;
	}

	#info {
		height: 573px;
		width: auto;
	}

	#info .wrapper::before {
		left: -50px;
	}
}
